* {
  all: unset;
}

$bg: #0d0f18;
$bg-alt: #151720;
$fg: #c0caf5;
$black: #151720;
$gray: #1c1e27;
$red: #dd6777;
$green: #90ceaa;
$yellow: #ecd3a0;
$blue: #86aaec;
$magenta: #c296eb;
$cyan: #93cee9;
$white: $fg;
$archlogo: #0f94d2;

.profilebox {
  background-color: $bg-alt;
  border-radius: 12px;
  margin-top: .7rem;
}

.pfpface {
  margin: 1rem 0rem 1rem 1rem;
}

.welcometxt {
  font-size: 1.3rem;
  font-style: italic;
  font-family: Cartograph CF;
  color: $fg;
  margin: 1.3rem 0rem 0rem 1.3rem;
}

.pfpapps {
  margin: 1.3rem 0rem 0rem 1.3rem;
}

.launcher-btn {
  color: $fg;
  font-family: Material Design Icons Desktop;
  font-size: 1.3rem; 
}

.launcher-btn:hover {
  color: $blue;
  font-family: Material Design Icons Desktop;
  font-size: 1.3rem;
  
}

.weatherbox {
  background-color: $bg-alt;
  border-radius: 12px;
  padding: .9rem;
  margin-top: .7rem;
}

.weathericon {
  padding: 2rem 1rem;
  margin-top: .7rem;
  border-radius: 12px;
  margin-left: .7rem;
  background-color: $bg-alt;
  font-size: 2rem;
  font-family: "Material Design Icon Desktop";
}

.weatherdesc {
  font-size: 1.75rem;
  font-family: "Iosevka Nerd Font";
}

.weathertemp {
  font-size: 1.5rem;
  font-weight: bold;
  color: $fg;
  font-family: "Iosevka Nerd Font";
}

.weathercity {
  font-size: .9rem;
  margin-top: 1rem;
  color: $fg;
  font-family: "Iosevka Nerd Font";
}

.playerbox {
  background-color: $bg-alt;
  border-radius: 12px;
  padding: .9rem;
  margin-top: .7rem;
}

.album_art {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  padding: 3rem;
}

.song {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: $fg;
}

.artist {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  color: $fg;
  font-size: .8rem;
}

.btn_prev,
.btn_play,
.btn_next {
  font-family: JetBrainsMono Nerd Font;
  color: $fg;
  font-size: 20px;
}

.sysbox {
  background-color: $bg-alt;
  border-radius: 12px;
  padding: .9rem;
  margin-top: .7rem;
}

.calouterbox {
  padding: 1.75rem 1.35rem;
  background-color: $bg;
  border-radius: 12px;
}

.caltime {
  font-family: "Iosevka Nerd Font";
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.caltext {
  font-weight: bold;
  font-size: 3rem;
  color: $fg;
}

.infodate {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Iosevka Nerd Font";
  margin-bottom: 1rem;
  color: $fg;
}

.caltimeboxes {
  margin: 0 2rem;
  font-family: "Material Design Icon Desktop";
  font-size: .6rem;
}

.red {
  color: $red;
}
.yellow {
  color: $yellow;
}

.green {
  color: $green;
}
.magenta {
  color: $magenta;
}

.blue {
  color: $blue;
}
.cyan {
  color: $cyan;
}

.white {
  color: $red;
}

.stats-icon-cpu,
.stats-icon-ram,
.stats-icon-fs {
  font-size: 1.5rem;
}

.stats-icon-cpu {
  color: $red;
}

.stats-icon-ram {
  color: $green;
}

.stats-icon-fs {
  color: $yellow;
}

.scale-cpu,
.scale-ram,
.scale-fs,
scale trough {
  all: unset;
  background-color: $gray;
  min-height: 10px;
  border-radius: 15px;
  margin-left: 25px;
}

.scale-cpu,
.scale-ram,
.scale-fs,
scale trough highlight {
  all: unset;
  border-radius: 15px;
}

.scale-cpu trough highlight {
  background: linear-gradient(to right, $magenta, $red);
}

.scale-ram trough highlight {
  background: linear-gradient(to right, $green, $yellow);
}

.scale-fs trough highlight {
  background: linear-gradient(to right, $yellow, $fg);
}
