[options]
allow_bold = true
#audible_bell = false
bold_is_bright = true
cell_height_scale = 1.0
cell_width_scale = 1.0
clickable_url = true
dynamic_title = true
font = JetBrainsMonoMedium Nerd Font Mono Bold 10
fullscreen = true
#icon_name = terminal
#mouse_autohide = false
#scroll_on_output = false
#scroll_on_keystroke = true
word_char_exceptions = -=&#:/.?@+~_%;
# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 10000
#search_wrap = true
#urgent_on_bell = true
hyperlinks = false

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = underline

# Hide links that are no longer valid in url select overlay mode
#filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
#modify_other_keys = false

# set size hints for the window
#size_hints = false

# "off", "left" or "right"
#scrollbar = off

# Whether to prefer using the GTK dark theme variant.
gtk_dark_theme = true

# Enable smart copy. ^C will copy if text has been selected. ^V will paste. It
# is no longer possible to send a ^V to the running program when this option is
# enabled.
smart_copy = true

[colors]
# Silvia Grucbox color palette

foreground          = #fbf1c7
foreground_bold     = #fbf1c7
cursor              = #928374
cursor_foreground   = #282936

background          = #282828

# 16 color space

# Black, Gray, Silver, White
color0  = #282828
color8  = #a89984

# Red
color1 = #cc241d
color9 = #fb4934

# Green
color2  = #98971a
color10 = #b8bb26

# Yellow
color3 = #d79921
color11 = #fabd2f

# Blue
color4  = #83a598
color12 = #458588

# Magenta
color5  = #b16286
color13 = #d3869b

# Cyan
color6  = #689d6a
color14 = #8ec07c

# White
color7 = #ebdbb2
color15 = #ebdbb2


[hints]
#font = Monospace 12
#foreground = #dcdccc
background = rgba(7, 2, 25, 0.9)
#active_foreground = #e68080
active_background = rgba(7, 2, 25, 0.9)
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

