/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrainsMono Nerd Font";
	color: #151515;
}

/** Bar ***********************************/
.dockbox {
	background-color: #F5EEE6;
	border: 1px solid #161616;
	border-radius: 12px;
}

/** Icons ***********************************/
.genicon {
    background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 30px;
	min-height: 30px;
	min-width: 30px;
}

.workspace {
	background-color: #C04364;
	color: #ffffff;
	border: 2px solid #161616;
	border-radius: 16px;
	font-size : 10px;
	padding: 0px 6px 0px 6px;
	margin: -2px 0px 0px 0px;
	font-weight : bold;
}

/** Clock ********************************************/
.clockbox {
	margin : 0px 0px 0px 15px;
}

.time {
	font-size : 14px;
	font-weight : bold;
}

.date {
	font-size : 12px;
	font-weight : bold;
}

/** Weather ********************************************/
.weatherbox {
	margin : 0px 0px 0px -90px;
}

.weathericon {
	font-family: Iosevka Nerd Font;
	font-size : 32px;
	font-weight : normal;
}

.weathertemp {
	font-size : 14px;
	font-weight : bold;
	margin : 0px 0px 0px -5px;
}

/** Music *************************************************/
.album_art {
    background-repeat: no-repeat;
	background-size: 30px;
	min-height: 30px;
	min-width: 30px;
	margin: 4px;
	border-radius: 8px;
}

.musicbox {
	margin : 0px 3px 0px 5px;
}

.song {
	font-size : 12px;
	font-weight : bold;
}

.artist {
	font-size : 10px;
	font-weight : bold;
}

.musictime {
	margin : 0px 0px 0px 5px;
}

.ctime {
	font-size : 12px;
	font-weight : bold;
}

.ttime {
	font-size : 10px;
	font-weight : bold;
}

.musicbuttons {
	margin : 0px 5px 0px 120px;
}

.playbutton {
    background-repeat: no-repeat;
	background-size: 22px;
	min-height: 22px;
	min-width: 22px;
	margin: 0px;
}

.trackbutton {
    background-repeat: no-repeat;
	background-size: 18px;
	min-height: 18px;
	min-width: 18px;
	margin: 3px 0px 0px 0px;
}

/** System *************************************************/
.mails {
	background-color: #c5abff;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 12px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.trayicon {
    background-repeat: no-repeat;
	background-size: 22px;
	min-height: 22px;
	min-width: 22px;
	margin: 8px 0px 0px 0px;
}

.infotext {
	background-color: #F5EEE6;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 12px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.face {
	background-size: 22px;
	min-height: 22px;
	min-width: 22px;
	margin: 8px 0px 8px 0px;
	border-radius: 100%;
}

/** EOF *************************************************/
