 :root {
   
 /***
 *    ╔═╗╔═╗╔╦╗╔╗ ╦╔═╗  ╔╦╗╦ ╦╔═╗╔╦╗╔═╗	author: z0mbi3
 *    ╔═╝║ ║║║║╠╩╗║║╣    ║ ╠═╣║╣ ║║║║╣ 	url: https://github.com/gh0stzk/dotfiles
 *    ╚═╝╚═╝╩ ╩╚═╝╩╚═╝   ╩ ╩ ╩╚═╝╩ ╩╚═╝	z0mbi3 Fox Firefox Theme
 */
   
  --z0mbi3-bg: #14171c;
  --z0mbi3-icon-color: #b8bfe5;
  --z0mbi3-nav-toolbar-padding: 8px;
  --z0mbi3-sidebar-bg: var(--z0mbi3-bg);
  --z0mbi3-sidebar-color: #b8bfe5;
  --z0mbi3-tab-border-radius: 0px;
  --z0mbi3-tab-color: #f3edff;
  --z0mbi3-tab-font-family: "JetBrainsMono Nerd Font", serif;
  --z0mbi3-tab-font-size: 9.5pt;
  --z0mbi3-tab-font-weight: 600;
  --z0mbi3-tab-height: 42px;
  --z0mbi3-tab-pinned-bg: #70c1b3;
  --z0mbi3-tab-selected-bg: #4d4168;
  --z0mbi3-tab-soundplaying-bg: #ee6c4d;
  --z0mbi3-urlbar-color: #b8bfe5;
  --z0mbi3-urlbar-focused-color: #d7d9e5;
  --z0mbi3-urlbar-font-family: "JetBrainsMono Nerd Font", serif;
  --z0mbi3-urlbar-font-size: 10pt;
  --z0mbi3-urlbar-font-weight: 800;
  --z0mbi3-urlbar-results-color: #e0fbfc;
  --z0mbi3-urlbar-results-font-family: "JetBrainsMono Nerd Font", serif;
  --z0mbi3-urlbar-results-font-size: 9pt;
  --z0mbi3-urlbar-results-font-weight: 700;
  --z0mbi3-urlbar-results-url-color: #98c1d9;

  /* Overriden Firefox variables*/
  --toolbar-bgcolor: var(--z0mbi3-bg) !important;
  --lwt-sidebar-background-color: var(--z0mbi3-bg) !important;
  --tab-border-radius: 0 !important;
  --lwt-toolbarbutton-icon-fill-attention: #8677cf !important;
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}

.toolbarbutton-icon {
    fill: var(--z0mbi3-icon-color) !important;
    fill-opacity: 100% !important;
}

#PlacesToolbar menupopup[placespopup="true"] {
  --arrowpanel-background: var(--z0mbi3-bg) !important;
  --arrowpanel-color: #b8bfe5 !important;
}

.tab-background[selected="true"] {
  background: var(--z0mbi3-tab-selected-bg) !important;
}

/*.tab-background[selected"false"] {
  background: var(--z0mbi3-tab-selected-bg) !important;
  opacity: 50% !important;
}*/

/* Move tabs down */
#titlebar {
  order: 2;
  -moz-appearance: none !important;
  --tabs-navbar-shadow-size: 0px;
}

/* tabs */
.tab-text {
  font-family: var(--z0mbi3-tab-font-family);
  font-weight: var(--z0mbi3-tab-font-weight);
  font-size: var(--z0mbi3-tab-font-size) !important;
  color: var(--z0mbi3-tab-color);
  padding: 10px !important;
}

/* Make all tabs small except selected one */
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
    max-width: 150px !important;
    min-width: 150px !important;
}

/* Make selected tabs to bigger */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
    max-width: 200px !important;
    min-width: 200px !important;
}

hbox.tab-content .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab {
  border-radius: var(--z0mbi3-tab-border-radius) !important;
  height: var(--z0mbi3-tab-height) !important;
  margin-bottom: 6px !important;
  margin-top: 4px !important;
  max-height: 80% !important;
  min-height: 80% !important;
}

#tabs-newtab-button > .toolbarbutton-icon {
  --toolbarbutton-inner-padding: 4px !important;
}

/* No sound icon and text in tabs */
.tab-close-button[pinned],
#tabbrowser-tabs[closebuttons="activetab"] > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button:not([selected="true"]),
.tab-icon-pending:not([pendingicon]),
.tab-icon-pending[busy],
.tab-icon-pending[pinned],
.tab-icon-image:not([src]):not([pinned]):not([crashed])[selected],
.tab-icon-image:not([src]):not([pinned]):not([crashed]):not([sharing]),
.tab-icon-image[busy],
.tab-throbber:not([busy]),
.tab-icon-sound:not([soundplaying]):not([muted]):not([activemedia-blocked]):not([pictureinpicture]),
.tab-icon-sound[pinned],
.tab-sharing-icon-overlay,
.tab-icon-overlay {
  display: none;
}
.tab-secondary-label[soundplaying="true"]:not([pictureinpicture]){ display: none }

/**************************************************/

#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
  /* 	position: unset!important; */;
}

#urlbar-results {
  font-family: var(--z0mbi3-urlbar-results-font-family);
  font-weight: var(--z0mbi3-urlbar-results-font-weight);
  font-size: var(--z0mbi3-urlbar-results-font-size) !important;
  color: var(--z0mbi3-urlbar-results-color) !important;
}

#urlbar:not([focused]) > #urlbar-background  {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: var(--z0mbi3-urlbar-results-url-color) !important;
  font-family: var(--z0mbi3-urlbar-font-family);
  font-weight: var(--z0mbi3-urlbar-results-font-weight);
  font-size: var(--z0mbi3-urlbar-font-size) !important;
}

.urlbarView-favicon, .urlbarView-type-icon {
  display: none !important;
}

#urlbar-input {
  font-size: var(--z0mbi3-urlbar-font-size) !important;
  color: var(--z0mbi3-urlbar-color) !important;
  font-family: var(--z0mbi3-urlbar-font-family) !important;
  font-weight: var(--z0mbi3-urlbar-font-weight)!important;
  text-align: center !important;
}

#urlbar-input:focus {
  color: var(--z0mbi3-urlbar-focused-color) !important;
}

/* Download button */


/* Hide tracking protection button */
tracking-protection-icon-container, #identity-box {
  display: none;
}

#tracking-protection-icon-box {
    display: none;
}

/*#unified-extensions-button {
	display: none;
}+/

/* Hide show all tabs button */
#alltabs-button { 
	display: none !important;
}

/* Hide star button (bookmark) */
#star-button{
	display:none;
}

@-moz-document url("about:home"),
url("about:newtab"),url("about:blank") {

.personalize-button {

display: none !important;}}

/* Hide reading View */
#reader-mode-button,#readinglist-addremove-button {
 display:none !important;
}

/* Remove Back button when there's nothing to go Back to */
#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#back-button[disabled="true"] {
    opacity: 0 !important;
}

/* Remove Forward button when there's nothing to go Forward to */
#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#forward-button[disabled="true"] {
    opacity: 0 !important;
}

/* Remove reload button when there's nothing to reload */
#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#reload-button[disabled="true"] {
    opacity: 0 !important;
}

#navigator-toolbox {
border-bottom: unset !important;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
}

.close-icon, .urlbar-icon {
  fill: var(--z0mbi3-icon-color) !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

#urlbar-background {
	background-color: var(--z0mbi3-bg) !important;
	border: none !important;
	outline: none !important;
	opacity: .95 !important;
}

.toolbar-items {
  background-color: var(--z0mbi3-bg) !important;
}

#reload-button:not([disabled="true"]),
#home-button:not([disabled="true"]) {
  color: var(--z0mbi3-icon-color)  !important;
}

.toolbarbutton-text {
  color: var(--z0mbi3-icon-color)  !important;
}

toolbar#nav-bar {
  padding: var(--z0mbi3-nav-toolbar-padding) !important;
}

toolbarbutton.bookmark-item:hover,
#PlacesToolbar menu:hover,
#PlacesToolbar menuitem:hover {
    background-color: var(--z0mbi3-tab-selected-bg) !important;
}

/************************************/

/*Darken panels to match theme*/
.panel-subview-body,#appMenu-zoomReset-button,.panel-mainview,.panel-subviews {
  color: #c5cddb !important;
  background: var(--url-and-searchbar-background-color) !important;}
.panel-subview-footer,[class^="PanelUI-"] {
  color: #c5cddb !important;
  background: var(--toolbar-bgcolor) !important;}
/*stops possible clashes with extension popups*/
.webextension-popup-browser {
  background: #fff;}
