// Eww colors for Emilia rice
$bg: #1a1b26;
$bg-dark: #16161e;
$bg-light: #2a2b3d;
$bg-alt: #222330;
$fg: #c0caf5;
$fg-alt: #a9b1d6;
$black: #414868;
$lightblack: #262831;
$gray: #545c7e;
$red: #f7768e;
$blue: #7aa2f7;
$cyan: #7dcfff;
$magenta: #bb9af7;
$green: #9ece6a;
$yellow: #e0af68;
$orange: #ff9e64;
$archicon: #0f94d2;
