$bg: #1a1b26;
$bg-alt: #222330;
$fg: #c0caf5;
$borderbg: #1a1b26;
$empty: #583794;
$focus: #e0af68;
$occup: #7aa2f7;
$black: #414868;
$gray: #222330;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: #a9b1d6;
$archicon: #0f94d2;
