$bg: #14171c;
$bg-alt: #181b21;
$fg: #abb2bf;
$fg-alt: #abb2bf;
$borderbg: #2a2c33;
$empty: #6C77BB;
$focus: #81ae5f;
$occup: #be5046;
$black: #5c6370;
$gray: #181b21;
$red: #be5046;
$green: #81ae5f;
$yellow: #d19a66;
$blue: #4889be;
$magenta: #7560d3;
$cyan: #49919a;
$white: #abb2bf;
$archicon: #abb2bf;
