// Rofi colors for Emilia

* {
    font: "JetBrainsMono NF Bold 9";
    background: #1A1B26;
    background-alt: #1A1B26E0;
    foreground: #c0caf5;
    selected: #7aa2f7;
    active: #9ece6a;
    urgent: #f7768e;
    
    img-background: url("~/.config/bspwm/rices/emilia/rofi.webp", width);
}
