* {
    font: "Terminess Nerd Font Mono Bold 10";
    background: #14171c;
    bg-alt: #181b21;
    background-alt: #14171cE0;
    foreground: #abb2bf;
    selected: #8677cf;
    active: #81ae5f;
    urgent: #e06c75;

    img-background: url("~/.config/bspwm/rices/isabel/rofi.webp", width);
}
