[Unit]
Description=Run ArchUpdates.service every 15 minutes

[Timer]
OnStartupSec=3s
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
