[Unit]
Description=Run ArchUpdates.service every 15 minutes
After=NetworkManager.service

[Timer]
OnStartupSec=10s
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
