[Unit]
Description=Check for available updates & sync polybar or eww bar
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=%h/.config/bspwm/src/Updates --sync-polybar

[Install]
WantedBy=default.target

