[options]
allow_bold = true
#audible_bell = false
bold_is_bright = true
cell_height_scale = 1.0
cell_width_scale = 1.0
clickable_url = true
dynamic_title = true
font = JetBrainsMonoMedium Nerd Font Mono Medium 10
fullscreen = true
#icon_name = terminal
#mouse_autohide = false
#scroll_on_output = false
#scroll_on_keystroke = true
word_char_exceptions = -=&#:/.?@+~_%;
# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 10000
#search_wrap = true
#urgent_on_bell = true
hyperlinks = false

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = underline

# Hide links that are no longer valid in url select overlay mode
#filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
#modify_other_keys = false

# set size hints for the window
#size_hints = false

# "off", "left" or "right"
#scrollbar = off

# Whether to prefer using the GTK dark theme variant.
gtk_dark_theme = true

# Enable smart copy. ^C will copy if text has been selected. ^V will paste. It
# is no longer possible to send a ^V to the running program when this option is
# enabled.
smart_copy = true

[colors]
# Base16 Dracula
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

#Tokyo Night Storm color palette
foreground          = #c0caf5
foreground_bold     = #c0caf5
cursor              = #D20075
cursor_foreground   = #282936
background          = #1a1b26

# 16 color space

# Black, Gray, Silver, White
color0  = #1a1b26
color8  = #414868

# Red
color1 = #f7768e
color9 = #f7768e

# Green
color2  = #9ece6a
color10 = #9ece6a

# Yellow
color3 =  #e0af68
color11 = #e0af68

# Blue
color4  = #7aa2f7
color12 = #7aa2f7

# Magenta
color5  = #583794
color13 = #583794

# Cyan
color6  = #7dcfff
color14 = #7dcfff

# White
color7 =  #a9b1d6
color15 = #c0caf5


[hints]
#font = Monospace 12
#foreground = #dcdccc
background = rgba(7, 2, 25, 0.9)
#active_foreground = #e68080
active_background = rgba(7, 2, 25, 0.9)
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

