[options]
allow_bold = true
#audible_bell = false
bold_is_bright = true
cell_height_scale = 1.0
cell_width_scale = 1.0
clickable_url = true
dynamic_title = true
font = JetBrainsMonoMedium Nerd Font Mono Medium 10
fullscreen = true
#icon_name = terminal
#mouse_autohide = false
#scroll_on_output = false
#scroll_on_keystroke = true
word_char_exceptions = -=&#:/.?@+~_%;
# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 10000
#search_wrap = true
#urgent_on_bell = true
hyperlinks = false

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = underline

# Hide links that are no longer valid in url select overlay mode
#filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
#modify_other_keys = false

# set size hints for the window
#size_hints = false

# "off", "left" or "right"
#scrollbar = off

# Whether to prefer using the GTK dark theme variant.
gtk_dark_theme = true

# Enable smart copy. ^C will copy if text has been selected. ^V will paste. It
# is no longer possible to send a ^V to the running program when this option is
# enabled.
smart_copy = true

[colors]

#cynthia color palette
foreground          = #b8bfe5
foreground_bold     = #c0caf5
cursor              = #D20075
cursor_foreground   = #282936

background          = #14171c

# 16 color space

# Black, Gray, Silver, White
color0  = #14171c
color8  = #b3b3b3

# Red
color1 = #e06c75
color9 = #be5046

# Green
color2  = #98c379
color10 = #98c379

# Yellow
color3 = #e5c07b
color11 = #d19a66

# Blue
color4  = #61afef
color12 = #61afef

# Magenta
color5  = #8677cf
color13 = #8677cf

# Cyan
color6  = #56b6c2
color14 = #56b6c2

# White
color7 = #abb2bf
color15 = #c5cddb


[hints]
#font = Monospace 12
#foreground = #dcdccc
background = rgba(7, 2, 25, 0.9)
#active_foreground = #e68080
active_background = rgba(7, 2, 25, 0.9)
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

