/** Global *******************************************/
*{
	all: unset;
	font-family: "JetBrainsMono Nerd Font";
	color: #151515;
}

/** Bar ***********************************/
.dockbox {
	background-color: #e1eaff;
	border: 1px solid #161616;
	border-radius: 12px;
	padding-left: 10px;
}

.sep {
    
    font-weight: bold;
    font-size: 18px;
    margin: 0px 5px 0px 8px;
}

.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 16px 0px 10px;
}

/** Icons ***********************************/

.appicon {
    background-repeat: no-repeat;
	background-size: 25px;
	min-height: 25px;
	min-width: 25px;
}

// CENTER MODULES
.center_icons {
    margin-right: 5px;
    margin-left: 8px;
}
.center_labels {
    font-size: 11px;
    font-weight: Bold;
    margin-bottom: -2px;
    margin-top: 1px;
    color: #2d2e33;
}
.center_revealers {
	font-size: 12px;
	font-weight: Bold;
    background-color: #e1eaff;
    min-height: 26px;
    
    color: #2d2e33;
}
.center_info scale trough highlight {
    all: unset;
    background: #36c7ee;
    border-radius: 0px;            
    border: solid 0px #2d2e33;
}
.center_info scale trough {
    all: unset;
    background-color: #63e0be;
    border-radius: 0px;
    border: solid 2px #2d2e33;
    min-width: 50px;
    min-height: 6px;               
}
