[options]
allow_bold = true
#audible_bell = false
bold_is_bright = true
cell_height_scale = 1.0
cell_width_scale = 1.0
clickable_url = true
dynamic_title = true
font = JetBrainsMonoMedium Nerd Font Mono Medium 10
fullscreen = true
#icon_name = terminal
#mouse_autohide = false
#scroll_on_output = false
#scroll_on_keystroke = true
word_char_exceptions = -=&#:/.?@+~_%;
# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 10000
#search_wrap = true
#urgent_on_bell = true
hyperlinks = false

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = underline

# Hide links that are no longer valid in url select overlay mode
#filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
#modify_other_keys = false

# set size hints for the window
#size_hints = false

# "off", "left" or "right"
#scrollbar = off

# Whether to prefer using the GTK dark theme variant.
gtk_dark_theme = true

# Enable smart copy. ^C will copy if text has been selected. ^V will paste. It
# is no longer possible to send a ^V to the running program when this option is
# enabled.
smart_copy = true

[colors]

# color palette

foreground          = #6d6a78
foreground_bold     = #7c7f93
cursor              = #7a4ea2
cursor_foreground   = #282936
background          = #F5EEE6

# 16 color space

# Black, Gray, Silver, White
color0  = #F5EEE6
color8  = #80859d

# Red
color1 = #c04364
color9 = #c03f61

# Green
color2  = #abd77a
color10 = #a1d16c

# Yellow
color3 =  #ffcc57
color11 = #f2be47

# Blue
color4  = #67d4f1
color12 = #50bfdc

# Magenta
color5  = #7a7498
color13 = #605692

# Cyan
color6  = #9bf4d5
color14 = #83edc8

# White
color7 =  #b0b0b0
color15 = #b0b0b0


[hints]
#font = Monospace 12
#foreground = #dcdccc
background = rgba(7, 2, 25, 0.9)
#active_foreground = #e68080
active_background = rgba(7, 2, 25, 0.9)
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

